html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}
 

p{
    width: 60%;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 15px;
    margin-left: 18%;
    margin-top : 30px;
    background-color: white;
    padding: 15px 15px 15px 15px;
   
}

h1 { 
    color: white; 
    font-family: ‘Trocchi’, serif; 
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px;  
}
.h2 { 
    font-size: 26px; 
    font-weight: 300; 
    color: black; 
}


table {
   width: 100%;
   border-radius: 10px;
}
.table_dark {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 18px;
  
  text-align: left;
  border-collapse: collapse;
  background: #252F48;
}
.table_dark th {
  color: #EDB749;
  border-bottom: 1px solid #37B5A5;
  padding: 12px 17px;
}
.table_dark td {
  color: #CAD4D6;
  border-bottom: 1px solid #37B5A5;
  border-right:1px solid #37B5A5;
  padding: 7px 17px;
}
.table_dark tr:last-child td {
  border-bottom: none;
}
.table_dark td:last-child {
  border-right: none;
}
.table_dark tr:hover td {
  text-decoration: underline;
}